<div class="container__big-card">

  <div class="big-card__picture">
    <img src="https://www.seudinheiro.com/uploads/2026/07/poster-715x402.jpg"
    alt=""
    height="200px"
    width="300px"
    srcset="">
  </div>


  <div class="big-card__title">
    <h1><a href="#">Homem-Aranha: Um Novo Dia. </a></h1>
  </div>
  <div class="big-card__description">
    <p>

      Lorem ipsum, dolor sit amet consectetur adipisicing elit. Sit magni explicabo, voluptates libero temporibus, atque architecto quae totam est veritatis minus. Laborum at libero similique necessitatibus eaque quod repellendus ullam!

    </p>
  </div>
   </div>
